<div class="row">
    <div class="col-md-12">
        <h2>Articles
            <a href="/articles/add" class="btn btn-success pull-right">Add New Article</a>
        </h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        {{!-- <th class="text-center">No</th> --}}
                        <th class="text-center">Topic</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each articles}}
                    <tr>
                        {{!-- <td class="text-center">{{articleId}}</td> --}}
                        <td class="text-center"><a href="/article/reading/{{articleId}}">{{articleTitle}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#unless articles}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
    <hr />
    <div class="col-md-12 text-center">
        <p><strong>Total:</strong> {{articles.length}}</p>
    </div>
</div>