<div class="row">
    <div class="col-md-12">
        <h2>{{article.articleTitle}}</h2>
        <hr />
        <p>{{{article.articleContent}}}</p>
        <hr />
        
        <div class="text-center">
            <a href="/articles" class="btn btn-primary">Go Back</a>
            {{#if session.user}}
                <a class="btn btn-success" href="/article/{{article.articleId}}">Update</a>
                <a class="btn btn-danger" href="/articles/delete/{{article.articleId}}">Remove</a>
                <form action="/article/markAsRead/{{article.articleId}}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-info">Mark as Read</button>
                </form>
                <form action="/article/like/{{article.articleId}}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-warning">Like</button>
                </form>
            {{/if}}
        </div>
    </div>
</div>