<div class="row">
    <div class="col-md-12">
        <h2>{{viewData.record.recordTitle}}
            <a class="btn btn-success pull-right" href="/record/{{viewData.record.recordId}}">Update</a>
        </h2>
        <hr />
        <p>{{{viewData.record.recordContent}}}</p>
        <hr />
        
        <div class="text-center">
            <a href="/dailyrecord" class="btn btn-primary">Go Back</a>
            {{!-- {{#if session.user}}
                <form action="/article/markAsRead/{{viewData.article.articleId}}" method="POST" style="display:inline;">
                {{#if viewData.article.selected}}
                    <button type="submit" class="btn btn-info-inverse">Mark as Read</button>
                {{else}}
                    <button type="submit" class="btn btn-info">Mark as Read</button>
                </form>
                {{/if}}
                <form action="/article/like/{{viewData.article.articleId}}" method="POST" style="display:inline;">
                {{#if viewData.article.liked}}
                    <button type="submit" class="btn btn-warning-inverse">Like</button>
                {{else}}
                    <button type="submit" class="btn btn-warning">Like</button>
                {{/if}}
                </form>
                <a class="btn btn-danger pull-right" href="/articles/delete/{{article.articleId}}">Remove</a>
            {{/if}} --}}
            {{#if session.user}}
                {{!-- <form action="/record/action/{{viewData.record.recordId}}" method="POST" style="display:inline;">
                    {{#if viewData.record.selected}}
                        <input type="hidden" name="action" value="markAsRead">
                        <button type="submit" class="btn btn-info-inverse">Mark as Read</button>
                    {{else}}
                        <input type="hidden" name="action" value="markAsRead">
                        <button type="submit" class="btn btn-info">Mark as Read</button>
                    {{/if}}
                </form>
                <form action="/record/action/{{viewData.record.recordId}}" method="POST" style="display:inline;">
                    {{#if viewData.record.liked}}
                        <input type="hidden" name="action" value="like">
                        <button type="submit" class="btn btn-warning-inverse">Like</button>
                    {{else}}
                        <input type="hidden" name="action" value="like">
                        <button type="submit" class="btn btn-warning">Like</button>
                    {{/if}}
                </form> --}}
                {{!-- <a class="btn btn-danger pull-right" href="/articles/delete/{{viewData.article.articleId}}">Remove</a> --}}
                <a class="btn btn-danger pull-right" href="/record/delete/{{viewData.record.recordId}}" onclick="return confirmDelete('{{viewData.record.recordId}}')">Remove</a>
            {{/if}}
        </div>
    </div>
</div>

<script>
    function confirmDelete(recordId) {
        return confirm("Are you sure you want to remove this record?");
    }
</script>