<div class="row">
    <div class="col-md-12">
        <h2>{{ieltsSpeaking.ieltsSpeakingTitle}} - Record: {{ieltsSpeaking.ieltsSpeakingId}}</h2>
        <hr />
        <form method="post" action="/ieltsSpeaking/update">
            <input id="ieltsSpeakingId" name="ieltsSpeakingId" type="hidden" value="{{ieltsSpeaking.ieltsSpeakingId}}" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="ieltsSpeakingTitle">Record Title</label>
                        <input class="form-control" id="ieltsSpeakingTitle" name="ieltsSpeakingTitle" type="text" value="{{ieltsSpeaking.ieltsSpeakingTitle}}" />
                    </div>
                    <div class="form-group">
                        <label for="ieltsSpeakingContent">IeltsSpeaking Content</label>
                        <textarea class="form-control" rows="18" id="ieltsSpeakingContent" name="ieltsSpeakingContent" type="text">{{{ieltsSpeaking.ieltsSpeakingContent}}}</textarea>
                    </div>
                </div>
            </div>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update ieltsSpeaking" /><br /><br /><br />
        </form>
    </div>
</div>